pipeline/PipeLineApi.json
{
	"name": "PipeLineApi",
	"properties": {
		"activities": [
			{
				"name": "Para cada Depto",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "API_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('API_lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SavingToDBFixed",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['original']"
											},
											"sink": {
												"name": "original",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['fixeddepartment']"
											},
											"sink": {
												"name": "fixeddepartment",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "rest_ds",
									"type": "DatasetReference",
									"parameters": {
										"Departamento": "@item().Departamento"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "database_sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "SelectColumn",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Flujo API",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "API_lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SelectColumn",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "apioutput",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-11-23T01:39:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}